<launch>
    <arg name="gui"  default="true"/>

    <!-- <include file="$(find wit_ros_imu)/launch/wit_imu.launch" /> -->
    <!-- <param name="robot_description" command="$(find xacro)/xacro $(find turn_on_sfy_robot)/urdf/sfy_forklift_bot.xacro"/> -->
    <param name = "robot_description" textfile = "$(find turn_on_sfy_robot)/urdf/sfy_forklift_bot.urdf"/> 

    <node pkg="tf" type="static_transform_publisher" name="base_to_link" args="0 0 0.05 0 0 0  base_footprint base_link 100" />

    <!-- 用于雷达节点 -->
    <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="1.195 0 0.96 3.14 0 0  base_footprint lidar_link 100" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="1.74 0 0.44 0 0 0   base_footprint camera_link 100" /> -->
    <node pkg="tf" type="static_transform_publisher" name="base_to_gyro" args="1.14 0 0.91 0 0 0 base_footprint gyro_link 100" />   
   
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find turn_on_sfy_robot)/rviz/test_agv_model_visualization.rviz"/> -->

    <!-- <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"   /> -->

    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui"  if="$(arg gui)"  />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"  />

</launch>